html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}


/* Map styling */

#map {
    width: 100%;
    height: 100%;
}

.municipality-feature {
    stroke-width: 1px;
    fill: transparent;
}

.municipality-feature:hover {
    fill: rgba(1, 138, 60, 0.3);
}

/* Info box styling */

#info-display {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    z-index: 1000;
    transition: 0.1s;
    
    border-left: 1px solid rgb(211, 211, 211);
    background-color: white;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
}

#info-display > h1, h2, h3, h4 {
    margin: 0px 0px 10px 0px;
}

.info-pie-chart-container {
    text-align: center;
    margin-left: auto;
    
    display: inline-block;
    width: 200px;
}

.party-letter {
    background-color: rgb(191, 191, 191);
    width: 36px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    color: #e5e5e5;
}